html {
    background-color: #F8F8F8;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    margin-bottom: 30px;
    min-width: 600px;
    line-height: 1.5em;
    font-family: Fira Sans;
    color: #545454;
}

p {
    margin-bottom: 0;
}

.header {
    background: linear-gradient(to bottom right, #080f1b, #3b3ba7);
    background-size: 100%;
	height: 312px;
    width: 100%;
    position: relative;
}

.header-text {
    color: white;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
}

.profile-pic img {
    height: 100%;
    border-radius: 5px;
}

.title {
    font-size: 2.5em;
    line-height: 1.3em;
}

.profile-pic img,
.title {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 24px;
    margin-bottom: -2px;
}

.menu-row {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.nav {
    display: inline-block;
    margin: 2px;
    color: black;
    width: 150px;
    padding: 5px;
    background: linear-gradient(#ffffff, #dddddd);
    text-align: center;
    text-decoration: none;
    border: 1px solid #222222;
    border-collapse: collapse;
    border-radius: 5px;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content img {
    height: 20px;
    margin-right: 6px;
}

.nav:hover {
    border-color: #888888;
}

.nav:active {
    border-color: #555555;
}

.description {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 1000px;
}

.description-header {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #d8d8d8; 
    line-height: 0.1em;
    font-weight: bold;
    font-size: 2em;
}

.description-header-text {
    background-color: #F8F8F8;
    padding: 0 15px;
}

.projects {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    display: inline-block;
    background-color: white;
    width: 400px;
    margin: 10px;
    border: 1px solid #888888;
    border-collapse: collapse;
    border-radius: 5px;
    vertical-align: top;
    text-align: center;
}

.project-title {
    display: block;
    font-size: 1.2em;
    line-height: 50px;
    height: 50px;
}

.project-title a,
.puzzle-title a {
    text-decoration: none;
    color: black;
}

.project-image {
    display: block;
    padding: 0px;
    height: fit-content;
    background-color: #454545;
}

.project-image img {
    display: block;
    width: 100%;
}

.project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.descr-text {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
}

a {
    color: #0083e8;
}

.puzzles-list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.puzzle {
    border: 1px solid #888888;
    padding: 20px;
    border-radius: 5px;
    width: 330px;
    margin: 10px;
    background-color: white;
}

.puzzle-title {
    font-size: 1.5em;
    margin-top: 20px;
}

.puzzle-author {
    margin-top: 5px;
}

.puzzle-image {
    height: 200px;
    display: flex;
    justify-content: center;
}

.puzzle-image a {
    display: flex;
    width: 100%;
}

.puzzle-image img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.puzzle-page-title {
    margin-top: 45px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #d8d8d8; 
    line-height: 0.1em;
    font-weight: bold;
    font-size: 2em;
}

.puzzle-page-title-text {
    background-color: #F8F8F8;
    padding: 0 15px;
}

.puzzle-page-author-text {
    text-align: center;
    margin-bottom: 30px;
}

.puzzle-description-wrapper {
    display: flex;
    justify-content: center;
}

.puzzle-description {
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 10px 30px 20px 30px;
    border-radius: 5px;
    border: 1px solid #888888;
}

.puzzle-description p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    max-width: 35em;
}

.puzzle-page-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.puzzle-description img {
    max-width: 100%;
}
