html {
    background-color: #e6e9e9;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    line-height: 1.5em;
    font-family: Raleway;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 2px;
}

a {
    display: block;
    font-weight: bold;
    color: white;
    width: 90px;
    padding: 5px;
    background-color: gray;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    background-color: dimgray;
}
