html {
    background-color: #e6e9e9;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    min-width: 800px;
    padding-bottom: 1em;
    line-height: 1.5em;
    font-family: Raleway;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

#header {
    background-image: url(Files/codeblurred.png);
    background-size: 100%;
	height: 400px;
    width: 100%;
    position: relative;
}

#headerText {
    color: white;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    resize: vertical;
    width: 100%;
    text-align: center;
}

#title {
    font-size: 250%;
    line-height: 1.3em;
}

#menu {
    text-align: center;
}

#about {
    font-size: 150%;
    line-height: 1.3em;
}

#description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-right: 2px;
    display: inline-block;
}

a {
    display: block;
    font-weight: bold;
    color: white;
    width: 90px;
    padding: 5px;
    background-color: gray;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    background-color: dimgray;
}
