---
layout: default
title: Logic Puzzles
---
<div class="description-header">
    <span class="description-header-text">Logic Puzzles</span>
</div>
<div class="puzzles-list">
    {% assign sorted_pages = (site.pages | sort: 'order' | reverse) %}
    {% for page in sorted_pages %}
        {% if page.layout == 'puzzle' %}
            <div class="puzzle">
                <div class="puzzle-image">
                    <a href="{% if page.puzzle_url %}{{ page.puzzle_url }}{% else %}{{ page.url }}{% endif %}">
                        <img src="{{ page.image | prepend: site.imagesurl }}"></img>
                    </a>
                </div>
                <div class="puzzle-title">
                    <a href="{% if page.puzzle_url %}{{ page.puzzle_url }}{% else %}{{ page.url }}{% endif %}">
                        {{ page.title }}
                    </a>
                </div>
                <div class="puzzle-author">by {{ page.author }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>
